<% include ../partials/header %>
<div>
    <div class="row">
        <h1 style="text-align: center">Edit <%= phone.name %></h1>
        <div style="width: 30%; margin: 30px auto;">
            <form action="/phones/<%= phone._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="phone[name]" value="<%= phone.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="phone[price]" value="<%= phone.price %>" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="phone[image]" value="<%= phone.image %>">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="phone[description]" value="<%= phone.description %>">
                    </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/phones">Go back</a>
        </div>
    </div>
</div>
    <% include ../partials/footer %>